@charset "utf-8";

span {
    font-weight: bold;
}

#perfil-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: 100vh;
}

#dados-container {
    display: grid;
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 300px 2fr;
    gap: 20px;
    align-items: center;
    padding: 50px;
    max-width: 800px;
    width: 100%;
    /* background-color: rgb(255, 255, 255); */
    height: auto;
    border: 2px solid #000;
    border-radius: 25px;
}

#figure {
    background-color: rgb(247, 247, 247);
    width: 150px;
    height: 180px;
    border: 2px solid var(--main-bg);
    border-radius: 10px;
}

#dados-pessoais-user-container {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    width: fit-content;
    /* background-color: aliceblue; */
}

#d1 > div, #d1-p > div > div, #d2 > div {
    background-color: rgb(255, 254, 253);
    border-radius: 5px;
    padding: 3px;
    font-size: 14px;
    border: 2px solid var(--main-bg);
}

#dados-pessoais-user-container > div {
    display: flex;
    justify-content: start;
    text-align: start;
    gap: 10%;
    /* padding-left: 20%; */
    width: fit-content;
}

#dados-pessoais-user-container > div > #d1 {
    /* background-color: red; */
    width: 100%;
}

#informacao-profissional-user-container {
    /* background-color: aquamarine; */
    width: max-content;
    padding: 20px;
}

#informacao-profissional-user-container #d1-p {
    display: flex;
    justify-content: space-between;
    /* flex-direction: column; */
    text-align: start;
    width: 30em;
    /* background-color: red; */
}