@tailwind components;
@tailwind utilities;
@tailwind base;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: rgb(226, 226, 231);
  margin: 0;
  padding: 0;

  --main-bg: rgb(48, 209, 156);
  --secondary-bg: rgb(13, 174, 134);
}


@layer components {
  .custom-box {
    @apply bg-slate-300 flex justify-center items-center rounded-md p-2 size-4 border-2 border-solid border-[--main-bg] w-max;
  }

  .custom-span {
    @apply font-medium w-full flex justify-start
  }
}